body {
    background-image: linear-gradient(rgb(159, 204, 252) 80%, white 100%);
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}

.container {
    position: relative;
    text-align: center;
}

h1 {
    color: white;
    font-family: area-normal, sans-serif;
    font-style: italic;
    font-weight: 900;
    font-size: 150px;
    line-height: 130px;
    text-align: justify;
    position: absolute;
    top: 90px; /* Adjust the distance from the top margin */
    left: 40%;
    transform: translateX(-50%);
    z-index: 1;
    white-space: nowrap;
    animation: moveIn 1s forwards;
}

@keyframes moveIn {
    0% {
        margin-left: -1000px; /* Move the h1 off the screen initially */
    }
    100% {
        margin-left: 50px; /* Move the h1 to its current place */
    }
}

@keyframes moveUpDown {
    0%, 100% {
        transform: translateY(0); /* Start and end position: no movement */
    }
    50% {
        transform: translateY(-20px); /* Move the image up by 20px */
    }
}

#imageone {
    width: 100%;
    position: absolute;
    top: 50%; /* Adjust the top position if needed */
    left: 0;
    animation: moveUpDown 3s infinite; /* Adjust the animation duration as needed */
}

h2 {
    color: white;
    font-family: area-normal, sans-serif;
    font-style: italic;
    font-weight: 600;
    font-size: 40px;
    margin-top:  1000px;
    margin-right: 150px;
    margin-left: 150px;
    text-align:justify; 
}

#homepage {
    color: white;
    font-family: area-normal, sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 25px;
    margin-left: 150px;
    margin-right: 150px;
    text-align: justify;
    line-height: 1.3;
}

#quiz {
    color: rgb(159, 204, 252);
    font-family: area-normal, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    letter-spacing: 6px;
    background-color: white;
    padding: 14px 25px;
    text-decoration: none;
    display: inline-block;
    border-radius: 15px;
    margin-left: 150px; /* Add margin to separate from the image */
}

#quiz:visited {
    color: rgb(125, 169, 216);
    text-decoration: none; 
    text-align: center;
    border-radius: 15px;
}

#quiz:hover {
    color: rgb(125, 169, 216);
    text-decoration: none; 
    text-align: center;
    background-color: #EFF0B1;
    font-family: area-normal, sans-serif;
    font-style: italic;
    font-weight: 600;
    padding: 20px 30px;
    border-radius: 15px;
}

#explain {
    color: rgb(125, 169, 216);
    font-family: area-normal, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    margin-left: 150px;
    margin-right: 150px;
    text-align: center;
    line-height: 1.3;
}

.parent {
    width: 90%; /* Adjust the width of the parent div */
    display: flex;
    font-family: area-normal, sans-serif;
    font-style: italic;
    font-weight: 600;
    border-radius: 15px;
    justify-content: space-between;
    margin: 50px auto; /* Add margin to create space around the parent div */
}

.child a {
    text-decoration: none;
}

.child {
    padding: 20px;
    color: rgb(125, 169, 216);
    font-size: 20px;
    font-family: area-normal, sans-serif;
    font-style: italic;
    font-weight: 600;
    background-color:white;
    border-radius: 15px;
    width: 16%; 
    text-align: center;
    margin: 0 10px; 
}

a:visited {
    color: rgb(125, 169, 216);
    text-decoration: none;
}

.child:hover {
    background-color: #EFF0B1;
    font-family: area-normal, sans-serif;
    font-style: italic;
    font-weight: 600;
    border-radius: 15px;
    text-decoration: none;
}

a:hover {
    color: rgb(125, 169, 216);
}
a: {
    color: rgb(125, 169, 216);
}

 

