body {
    background-image: linear-gradient(white 5%,rgb(159, 204, 252) 40%);
}

h1 {
    color: rgb(125, 169, 216);
    font-family: area-normal, sans-serif;
    font-style: italic;
    font-weight: 900;    
    font-size: 140px;
    padding-top: 100px;
    margin-left: -1000px; /* Move the h1 off the screen initially */
    padding-bottom: 0;
    animation: moveIn 1s 0.5s forwards; /* Apply the animation */
}

@keyframes moveIn {
    0% {
        margin-left: -1000px; /* Move the h1 off the screen initially */
    }
    100% {
        margin-left:150px; /* Move the h1 to its current place */
    }
}

p {
    color: rgb(125, 169, 216);
    font-family: area-normal, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 1.3;
    text-align: center;
    margin-top: -200px; /* Adjust the initial margin-top to stack them */
    animation: moveP 2s forwards;
}

@keyframes moveP {
    0% {
        margin-top: -200px; /* Adjust the initial margin-top to stack them */
    }
    100% {
        margin-top: 0; /* Adjust the final margin-top to its current position */
    }
}

#quizanswer {
    color: white;
    font-family: area-normal, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 1.3;
    text-align: center;
}

div {
    overflow: hidden;
    height: 200px;
}

    p1 {
    color: rgb(125, 169, 216);
    font-family: area-normal, sans-serif;
    font-style: italic;
    font-weight: 900;
    font-size: 150px;
    }

    p2 {
    color: rgb(125, 169, 216);
    font-family: area-normal, sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 20px;
    max-width: 200px;
    }

    .parent {
        width: 1000px;
        height: 350px;
        display: flex;
        text-align: center;
        margin: auto;
        justify-content: space-between;
        border-radius: 15px;
        margin-top: -200px; /* Adjust the initial margin-top to stack them */
        animation: spreadParents 1s forwards;
    }
    
    @keyframes spreadParents {
        0% {
            margin-top: -400px; /* Adjust the initial margin-top to stack them */
        }
        100% {
            margin-top: 0; /* Adjust the final margin-top to spread them */
        }
    }

  
  .child1 {
    width: 1000px;
    height: 300px;
    border: 5px solid white;
    padding: 10px 10px;
    vertical-align: middle;
    text-align: center;
    background-color: white;
    border-radius: 50px 0px 0px 50px;
  }
  .child2 {
    width: 1000px;
    height: 300px;
    border: 5px solid white;
    padding: 10px 10px;
    vertical-align: middle;
    text-align: center;
    background-color: white;
    border-radius: 0px 50px 50px 0px;
  }

  .bubble {
    height: 1000px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    animation: floatBubble 2s ease-in-out infinite alternate; /* Adjust animation duration and timing as needed */
}

@keyframes floatBubble {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-40px); /* Adjust the distance the bubble moves */
    }
}

  

.parent2 {
    width: 1350px;
    height: 500px;
    display: flex;
    text-align: center;
    margin: auto;
    justify-content: space-between;
    margin-bottom: -150px; 
}

    .face {
        position: relative;
        width: 265px; /* can be omitted for a regular non-lazy image */
        height: 330px;
        border-radius: 15px;
    }
    .main {
    width: 265px;
    border-radius: 15px;

    }

    .hover {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    object-fit: contain;
    opacity: 0;
    transition: opacity .2s;
    width: 268px;
    border-radius: 15px;
    }

    .face:hover .hover {
    opacity: 1;
    width: 268px;
    border-radius: 15px;
  }

  .parent3 {
    width: 1350px;
    display: flex;
    text-align: center;
    margin: auto;
    justify-content: space-between;
    margin-top: -100px; 
}

  #typeletter {
    color:white;
    font-family: area-normal, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    width: 200px;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 16px;
  }

  #recommendations {
    color: rgb(159, 204, 252);
    font-family: area-normal, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    letter-spacing: 6px;
    background-color: white;
    padding: 14px 25px;
    text-decoration: none;
    display: inline-block;
    border-radius: 15px;
    margin-left: 150px; /* Add margin to separate from the image */
}

#recommendations:visited {
    color: rgb(125, 169, 216);
    text-decoration: none; 
    text-align: center;
    border-radius: 15px;
}

#recommendations:hover {
    color: rgb(125, 169, 216);
    text-decoration: none; 
    text-align: center;
    background-color: #EFF0B1;
    font-family: area-normal, sans-serif;
    font-style: italic;
    font-weight: 600;
    padding: 20px 30px;
    border-radius: 15px;
}