body {
    background-image: linear-gradient(#EFF0B1 50%, white 90%) ;
}

h1 {
    color: rgb(125, 169, 216);
    font-family: area-normal, sans-serif;
    font-style: italic;
    font-weight: 900;    
    font-size: 100px;
    padding-top: 100px;
    margin-left: 100px;
    padding-bottom: 0;
    animation: moveIn 1s 0.5s forwards; /* Apply the animation */
}

@keyframes moveIn {
    0% {
        margin-left: -1000px; /* Move the h1 off the screen initially */
    }
    100% {
        margin-left:100px; /* Move the h1 to its current place */
    }
}


hr {
    border-top: 5px solid rgb(125, 169, 216);
    margin-left: 70px;
    margin-right: 70px;

}

.hr2 {
    border-top: 5px solid rgb(125, 169, 216);
    margin-left: 70px;
    margin-right: 70px;
}

.parent {
    width: 1200px;
    max-height: 700px;
    display: flex;
    margin: auto;
    justify-content: space-between;
}
    .child1 {
        width: 400px;
        height: 400px;
        padding-top: 80px;
    }
    .child2 {
        width: 400px;
        height: 400px;
    }
    img {
        height: 600px;
    }
    
    img:hover {
        height: 615px;
    }

    p1 {
        color: rgb(125, 169, 216);
        font-family: area-normal, sans-serif;
        font-style: italic;
        font-weight: 600;    
        font-size: 50px;
        padding-bottom: 0;
    }
    p2 {
        color: rgb(125, 169, 216);
        font-family: area-normal, sans-serif;
        font-style: normal;
        font-weight: 300;    
        font-size: 20px;
        padding-bottom: 0;
        line-height: 1.3;
    }
    p3 {
        color: rgb(125, 169, 216);
        font-family: area-normal, sans-serif;
        font-style: italic;
        font-weight: 600;    
        font-size: 50px;
        padding-bottom: 0; 
    }
    p4 {
        color: rgb(125, 169, 216);
        font-family: area-normal, sans-serif;
        font-style: normal;
        font-weight: 300;    
        font-size: 20px;
        padding-bottom: 0; 
        line-height: 1.3;
    }

    #step {
        color: rgb(125, 169, 216);
        font-family: area-normal, sans-serif;
        font-style: normal;
        font-weight: 800;    
        font-size: 30px;
        padding-bottom: 0;
        line-height: 1.3;
        margin-left: 150px;
        padding-top: 0px;
    }

    #step2 {
        color: rgb(125, 169, 216);
        font-family: area-normal, sans-serif;
        font-style: normal;
        font-weight: 800;    
        font-size: 30px;
        padding-bottom: 0;
        line-height: 1.3;
        margin-left: 150px;
        padding-top: 0px;
    }

    #ingredients {
        color: rgb(125, 169, 216);
        font-family: area-normal, sans-serif;
        font-style: normal;
        font-weight: 300;    
        font-size: 15px;
        padding-bottom: 0;
        line-height: 1.3;
        margin-left: 150px;
    }

    #ingredients2 {
        color: rgb(125, 169, 216);
        font-family: area-normal, sans-serif;
        font-style: normal;
        font-weight: 300;    
        font-size: 15px;
        padding-bottom: 0;
        line-height: 1.3;
        margin-left: 150px;
    }

    #explain {
        color: rgb(125, 169, 216);
        font-family: area-normal, sans-serif;
        font-style: normal;
        font-weight: 300;    
        font-size: 20px;
        padding-bottom: 50px;
        line-height: 1.3; 
        text-align: center;
        margin-left: 100px;
        margin-right: 100px;
    }

    .parent2 {
        width: 90%; /* Adjust the width of the parent div */
        display: flex;
        font-family: area-normal, sans-serif;
        font-style: italic;
        font-weight: 600;
        border-radius: 15px;
        justify-content: space-between;
        margin: 50px auto; /* Add margin to create space around the parent div */
    }

.child3 {
    display: inline-block; 
    padding: 20px 20px; 
    color: rgb(125, 169, 216); 
    font-size: 20px; 
    font-family: area-normal, sans-serif;
    font-style: italic;
    font-weight: 600;
    border-radius: 15px;
    border: 2px solid rgb(125, 169, 216); 
    text-align: center; 
    width: 250px;
    transition: background-color 0.3s ease; 
}
    
    .child3:hover {
        background-color: rgba(239, 240, 177, 0.2); 
        cursor: pointer;
        font-size: 22px;
    }

    #pagebar-home {
        color: rgb(125, 169, 216);
        font-family: area-normal, sans-serif;
        font-style: italic;
        font-weight: 600;
        font-size: 20px;
        text-decoration: none;
        text-align: center;
    }

    #pagebar-home:hover {
        font-size: 22px;
    }

    #pagebar-quiz {
        color: rgb(125, 169, 216);
        font-family: area-normal, sans-serif;
        font-style: italic;
        font-weight: 600;
        font-size: 20px;
        text-decoration: none;
        text-align: center;
    }

    #pagebar-quiz:hover {
        font-size: 22px;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }
    
    .dropdown-content {
        color: white;
        font-family: area-normal, sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        display: none;
        position: absolute;
        width: 280px;
        z-index: 1;
        bottom: 45px; /* Position the dropdown above the button */
        left: 50%; /* Center the dropdown content horizontally */
        transform: translateX(-50%); /* Adjust to center properly */
        background-image: linear-gradient(to right, white, rgb(159, 204, 252), white ) ;


    }
    

    .dropdown-content.show {
        display: block;
    }
    
    .dropdown-content a {
        color: white;
        font-family: area-normal, sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        padding: 10px 10px;
        text-decoration: none;
        display: block;
    }

    .dropdown-content a:hover {
        font-style: italic;
        color: rgb(125, 169, 216);

    }
    
 
    /* Adjust dropdown button style */
    .dropbtn {
        color: rgb(125, 169, 216);
        font-size: 20px;
        border: none;
        cursor: pointer;
        background-color: inherit;
    }
    
    .dropbtn:hover {
        color: rgb(125, 169, 216);
        font-size: 22px;
        border: none;
        cursor: pointer;
        background-color: inherit;
    }