body {
    background-image: linear-gradient(#dbcdf0 50%, rgb(159, 204, 252) 90%) ;
}

h1 {
    color: white;
    font-family: area-normal, sans-serif;
    font-style: italic;
    font-weight: 900;    
    font-size: 130px;
    padding-top: 100px;
    margin-left: 50px;
    padding-bottom: 0;
    animation: slideRight 1s ease-in-out;
    animation-fill-mode: forwards; /* Keep the final state of the animation */
    animation-delay: 0s; /* Delay the animation start */
}

/* Keyframes for slideRight animation */
@keyframes slideRight {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

u {
    text-underline-offset: 8px;
}

h2#typing-effect {
    color: white;
    font-family: area-normal, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    margin-right: 50px;
    margin-left: 50px;
    text-align: justify;
    overflow: hidden;
    border-right: .15em solid white;
    white-space: nowrap;
    animation: typing 3s steps(40, end), blink-caret 0.75s step-end infinite;

  }
  
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  
  @keyframes blink-caret {
    from,
    to {
      border-color: transparent;
    }
    50% {
      border-color: white;
    }
  }

#recommendations {
    color: white;
    font-family: area-normal, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    text-decoration: none;
    text-align: justify;
    margin-left: 150px;

}

#recommendations:visited {
    color: white;
    font-family: area-normal, sans-serif;
    font-style: italic;
    font-weight: 700;
    font-size: 35px;
    
}

#recommendations:hover {
    color: white;
    font-family: area-normal, sans-serif;
    font-style: italic;
    font-weight: 700;
    font-size: 35px;
    text-align:c enter; 
    padding-left: 5px;
    padding-top: 5px;
}


h3 {
    color: white;
    font-family: area-normal, sans-serif;
    font-style: italic;
    font-weight: 700;    
    font-size: 60px;
    padding-top: 50px;
    text-align: center;
    padding-bottom: 0; 
}



.parent {
    width: 1200px;
    max-height: 400px;
    display: flex;
    text-align: center;
    margin: auto;
    justify-content: space-between;
}

    .child {
        width: 400px;
        height: 400px;
    }

    p2 {
    color: white;
    font-family: area-normal, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 300px;
    margin-left: 30px;
    }

    p3 {
        color: white;
        font-family: area-normal, sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 300px;
        margin-left: 30px;
    }

    img {
    width: 400px;
    height: 280px;
    padding-top: 40px;
    }

    #tip {
        color: white;
        font-family: area-normal, sans-serif;
        font-style: normal;
        font-weight: 300;    
        font-size: 20px;
        padding-bottom: 50px;
        line-height: 1.3; 
        text-align: center;
        margin-left: 100px;
        margin-right: 100px;
    }

    #explain1 { 
        color: white;
        font-family: area-normal, sans-serif;
        font-style: normal;
        font-weight: 100;
        font-size: 22px;
        margin-right: 30px;
        margin-left: 30px;
        text-align: left;
        padding-top: 20px;
        line-height: 1.3;
    }

    #explain2 {
        color: white;
        font-family: area-normal, sans-serif;
        font-style: normal;
        font-weight: 100;
        font-size: 22px;
        margin-right: 30px;
        margin-left: 30px;
        text-align: left;
        padding-top: 20px;
        line-height: 1.3; 
    }

    .parent2 {
        width: 90%; /* Adjust the width of the parent div */
        display: flex;
        font-family: area-normal, sans-serif;
        font-style: italic;
        font-weight: 600;
        border-radius: 15px;
        justify-content: space-between;
        margin: 50px auto; /* Add margin to create space around the parent div */
    }

    .child2 {
    display: inline-block; 
    padding: 20px 20px; 
    color: white; 
    font-size: 20px; 
    font-family: area-normal, sans-serif;
    font-style: italic;
    font-weight: 600;
    border-radius: 15px;
    border: 2px solid white;
    text-align: center; 
    width: 250px;
    transition: background-color 0.3s ease; 
}
    
    .child2:hover {
        background-color: rgba(255, 255, 255, 0.2); 
        cursor: pointer;
        font-size: 22px;
    }

    #pagebar-home {
        color: white;
        font-family: area-normal, sans-serif;
        font-style: italic;
        font-weight: 600;
        font-size: 20px;
        text-decoration: none;
        text-align: center;
    }

    #pagebar-home:hover {
        font-size: 22px;
    }

    #pagebar-quiz {
        color: white;
        font-family: area-normal, sans-serif;
        font-style: italic;
        font-weight: 600;
        font-size: 20px;
        text-decoration: none;
        text-align: center;
    }

    #pagebar-quiz:hover {
        font-size: 22px;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }
    
    .dropdown-content {
        color: white;
        font-family: area-normal, sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        display: none;
        position: absolute;
        width: 280px;
        z-index: 1;
        bottom: 45px; /* Position the dropdown above the button */
        left: 50%; /* Center the dropdown content horizontally */
        transform: translateX(-50%); /* Adjust to center properly */
        background-image: linear-gradient(to right, rgb(159, 204, 252), #dbcdf0 , rgb(159, 204, 252) ) ;


    }
    

    .dropdown-content.show {
        display: block;
    }
    
    .dropdown-content a {
        color: white;
        font-family: area-normal, sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        padding: 10px 10px;
        text-decoration: none;
        display: block;
    }

    .dropdown-content a:hover {
        font-style: italic;
        color: rgb(125, 169, 216);

    }
    
 
    /* Adjust dropdown button style */
    .dropbtn {
        color: white;
        font-size: 20px;
        border: none;
        cursor: pointer;
        background-color: inherit;
    }
    
    .dropbtn:hover {
        color: white;
        font-size: 22px;
        border: none;
        cursor: pointer;
        background-color: inherit;
    }
